<script src="{{ url_for('static', filename='charts.js') }}"></script>
<script src="{{ url_for('static', filename='timeConversions.js') }}"></script>
<script>
    function updateCharts() {
            fetch('/get_data')
                .then(response => response.json())
                .then(data => { 
                    for (var item in data) {
                        var timestamps = toMoment(data[item]['labels']);
                        var movement_detections = data[item]['movements'];
                        var temperature_recordings = data[item]['temperatures'];
                        var humidity_recordings = data[item]['humidities'];
                    
                        var chart1 = Chart.getChart('lineChart ' + item);
                        chart1.data.labels = timestamps;
                        chart1.data.datasets[0].data = temperature_recordings;
                        chart1.data.datasets[1].data = humidity_recordings;
                        chart1.update();
                    
                        var chart2 = Chart.getChart('lineChart2 ' + item);
                        chart2.data.labels = timestamps;
                        chart2.data.datasets[0].data = movement_detections;
                        chart2.update();
                    }
                });
    };
    var updater = setInterval(updateCharts, 5000); // Update charts every 5 seconds upon GET request
    const submitField = document.getElementById("form_1-submit");
    //submitField.addEventListener("submit", clearInterval(updater))// after POST request (historic data) stop update
</script>
{% for item in data_for_template_dict.keys() %}
    <script>
        var timestamps_{{ item }} = toMoment({{ data_for_template_dict[item]['labels']|safe }});
        var movement_detections_{{ item }} = {{ data_for_template_dict[item]['movements']|safe }};
        var temperature_recordings_{{ item }} = {{ data_for_template_dict[item]['temperatures']|safe }};
        var humidity_recordings_{{ item }} = {{ data_for_template_dict[item]['humidities']|safe }};
        var ctx_{{ item }} = document.getElementById("lineChart {{ item }}").getContext("2d");
        var lineChart_{{ item }} = new Chart(ctx_{{ item }}, {
            type: "line",
            data: {
                labels: timestamps_{{ item }},
                datasets: [
                {
                    label: "temperature",
                    fill: false,
                    data: temperature_recordings_{{ item }},
                    borderColor: "rgb(192, 75, 75)",
                    lineTension: 0.1,
                    yAxisID: 'temperature'
                },
                {
                    label: "humidity",
                    fill: false,
                    data: humidity_recordings_{{ item }},
                    borderColor: "rgb(75, 150, 192)",
                    lineTension: 0.1,
                    yAxisID: 'humidity'
                }]
            },      
            options: {
                responsive: true, //adapts to window size
                maintainAspectRatio: false,
                interaction: {
                mode: 'index',
                intersect: false
                },
                stacked: false,
                plugins: {
                title: {
                    display: true,
                    text: 'Ambient conditions'
                }
                },
                scales: {
                    temperature: {
                        title: {
                            display: true,
                            text: '°C'
                        },
                        type: 'linear',
                        display: true,
                        position: 'left',
                        min: 0,
                        max: 45
                    },
                    humidity: {
                        title: {
                            display: true,
                            text: '%'
                        },
                        type: 'linear',
                        display: true,
                        position: 'right',
                        min: 0,
                        max: 100,
                        // grid line settings
                        grid: {
                            drawOnChartArea: false // only want the grid lines for one axis to show up
                        }
                    }
                }
            }
        });
        var ctx2_{{ item }} = document.getElementById("lineChart2 {{ item }}").getContext("2d");
        var lineChart2_{{ item }} = new Chart(ctx2_{{ item }}, {
            type: "line",
            data: {
                labels: timestamps_{{ item }},
                datasets: [
                {
                    label: "movement",
                    fill: true,
                    data: movement_detections_{{ item }},
                    borderColor: "rgb(192, 75, 75)",
                    lineTension: 0,
                    yAxisID: 'movement'
                }]
            },      
            options: {
                responsive: true,
                maintainAspectRatio: false,
                interaction: {
                mode: 'index',
                intersect: false
                },
                stacked: false,
                plugins: {
                title: {
                    display: true,
                    text: 'Movement detection'
                }
                },
                scales: {
                    movement: {
                        title: {
                            display: true,
                            text: 'activity'
                        },
                        type: 'linear',
                        display: true,
                        position: 'left',
                        min: 0,
                        max: 1
                    }
                }
            }
        });
    </script>
{% endfor %}